root { 
    display: block;
}
/* Reset css */
* {
    margin: 0;
    padding: 0;
}
img {
    border: none;
}
/* End reset */

body {
    background: #336B87;
	font-family: inherit;
}
ol,ul {
	margin-left: 10px;
	/*list-style: none;*/
}
div#info {
	margin-top: 20px;
	margin-left: auto;
    margin-right: auto;
	width: 992px;
	text-align: right; 
}
a#presentationLink {
	color: #90AFC5;
	font-weight: bold;
	font-size: 1.1em;
	text-decoration: none;
}
#presentation {
	/*width: 100%;*/
	color: #2A3132;
	font-size: 1.1em;
	margin-top: .2em;
	margin-bottom: 1em;
    padding: 15px 15px 15px 15px;
	border: 1px solid #2A3132;
	background: #90AFC5;
	text-align: left;
	display: none;
}
#presentation p {
	margin: 3px 0 6px;
}
#presentation span {
	margin-right: 5px;
}
h1 {
	width: 992;
	color: #2A3132;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 10px;
	font-family: "arial", "sans-serif";
}
h2 {
	font-family: "arial", "sans-serif";
	font-size: 1em;
	margin-top: 10px;
	margin-bottom: 5px;
}
.sample {
	margin: 5px 0 3px;
}
#backLink{
	margin-top: 1em;
	margin-left: auto;
    margin-right: auto;
	width: 992px;
	text-align: right; 
}
#backLink a{
	color: #90AFC5;
	font-weight: bold;
	font-size: 1.1em;
	text-decoration: none;
}
.hidden {
	display: none;
}

table {
    margin-left: auto;
    margin-right: auto;
	margin-top: 0;
    padding: 0;
	border-spacing: 3px;
    border: none;
    line-height: 0;
	background-color: #eee;
}
#solutionCell {
	padding: 3px 0 3px 0;
}
#solutionCell, .guessCell {
	background-color: #808080;
	border: 2px solid #aaa;
	border-style: ridge;
}
#solutionCell table, .guessCell table, .feedbackCell table {
	background-color: #808080;
}
.feedbackCell table {
	border: 2px solid #aaa;
	border-style: ridge;
	border-collapse: collapse;
}
.selectorCell table {
	border: none;
}
.selectorCell table td {
	border: 2px solid #aaa;
	border-style: ridge;
	background-color: #808080;
	padding: 3px 15px;
}
td#messageCell {
	background-color: #000;
	color: #fff;
	line-height: 2;
	text-align: center;
}
#buttonCell{
	background-color: #eee;
	text-align: center;
}
#modalButton {
	/* font: bolder 12px arial, sans-serif; */
	border: 1px solid #555;
	padding: 5px 18px;
	border-radius: 3px;
	background-image: linear-gradient(to bottom, #fff, #ccc);
}
